$color6: #99d8c9;
$color7: #e5f5f9;

* {
    background-color: $color6; 
}

body {
    text-align: center;
    font-family: "Helvetica", sans-serif;
}

#card {
    padding: 0px;
    margin: 0px auto;
    width: 1050px;
    height: 800px;
    .boards {
        //background-color: white;
        background: $color7;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .title {
        font-size: 30px;
        font-weight: bold;
        height: 10%;
    }
    .chart {
        height: 60%;
    }
    .supbar {
        height: 10%;
        font-size: medium;
        font-style: italic;
    }
    .chart{
        .axis{
            font-size: 15px;
        }
    }
}

svg {
    background: $color7;
  }

.tooltip {
    background-color: $color6; 
}
