* {
    background-color: gray; 
}

body {
    text-align: center;
    font-family: "Helvetica", sans-serif;
}

#card {
    padding: 0px;
    margin: 0px auto;
    width: 1050px;
    height: 600px;
    .boards {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .title {
        font-size: 30px;
        font-weight: bold;
        height: 20%;
        border: solid;
    }
    .chart {
        height: 60%;
    }
    .supbar {
        height: 20%;
        font-size: medium;
        font-weight: bold;
        border: solid;
    }
}
